<!DOCTYPE html>
<html>  
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename="css/settings.css")}} />
    <head >
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href={{url_for('static', filename="images/favicon.ico")}}>

	<title>Settings</title> <!-- title of the page -->
    </head>

    <body>
        <div class="img__wrap">
            <img class="img__img" src={{url_for('static', filename="images/swan_home.png")}} alt="">
            <a href="/"><div class="img__description_layer">
              <p class="img__description">Return Home</p>
            </div></a>
        </div> <!-- when clicked, sends the user to the home menu -->

        <div class="writing">
          <p>
            Work in Progress...
          </p>
        </div>

    </body>

</html>

